<ol class="attach">
<tmpl_loop attach>
  <li id="attach-<tmpl_var attach_id>">
    <a href="attach.cgi?atid=<tmpl_var attach_id>;name=/<tmpl_var filename>"><tmpl_var filename> (<tmpl_var filesize>)</a>
    <a href="detach.cgi?atid=<tmpl_var attach_id>;bid=<tmpl_var board_id>">x</a>
    <div>
    <tmpl_if image>
    <a class="attach" href="attach.cgi?atid=<tmpl_var attach_id>;name=/<tmpl_var filename>"
       rel="lightbox[attach-<tmpl_var article_id>]"
       title="<tmpl_var title> [<tmpl_var filename>] by <tmpl_var name> (<tmpl_var id>)">
      <img class="internal" src="attach.cgi?atid=<tmpl_var attach_id>;name=/<tmpl_var filename>" alt="<tmpl_var filename>" /></a>
    </tmpl_if>
    </div>
  </li>
</tmpl_loop>
</ol>
