<tmpl_if is_anonboard>아무개<tmpl_var name><tmpl_else><a class="user-profile" target="bw_profile" href="<tmpl_var user_url>/profile.cgi?id=<tmpl_var id>"><tmpl_var name></a> (<a class="user-message" target="bw_message" href="<tmpl_var note_url>?to_default=<tmpl_var id>"><tmpl_var id></a>)</tmpl_if>
