<tmpl_include _html_header.tmpl>
<body class="<tmpl_if skin><tmpl_var skin></tmpl_if> <tmpl_if a_read>anonymous</tmpl_if>">
<tmpl_include _header.tmpl>

<div class="msg">
<h2>Error</h2>
<tmpl_var error>
</div>

<tmpl_include _footer.tmpl>
