<tmpl_include _html_header.tmpl>
<body class="login <tmpl_if skin><tmpl_var skin></tmpl_if> <tmpl_if a_read>anonymous</tmpl_if>">
<tmpl_include _header.tmpl>
<!--
<div id="globalWrapper">
  <div id="column-content">
  <div id="content">
-->
<tmpl_include _login_form.tmpl>

</div><!-- content -->
</div><!-- column-content -->
</div><!-- globalWrapper -->
<div id="w3c-validator"><a href="http://validator.w3.org/check?uri=referer"></a></div>
<tmpl_include _html_footer.tmpl>
