<tmpl_include _html_header.tmpl>
<body class="<tmpl_if skin><tmpl_var skin></tmpl_if> <tmpl_if a_read>anonymous</tmpl_if>">
<tmpl_include _header.tmpl>

<div class="top-head">
<h1><a href="myarticle.cgi">내가 쓴 글 보기</a></h1>
<span class="owner">: <tmpl_include _name_id.tmpl></span>
<span class="breadcrumb"><tmpl_include _breadcrumb.tmpl></span>
</div>

<!-- LIST -->
<div class="visualClear" style="height: 20px;"></div>

<ul class="article head">
<li class="button"><a href="bookmark.cgi" accesskey="b">즐겨찾기</a></li>
<tmpl_loop prev_board>
<li class="button opt"><a href="read.cgi?bid=<tmpl_var board_id><tmpl_if is_imgboard>;img=1</tmpl_if>" title="<tmpl_var name> (<tmpl_var id>)" accesskey="p">이전:<tmpl_var title></a></li>
</tmpl_loop>
<tmpl_loop next_board>
<li class="button opt"><a href="read.cgi?bid=<tmpl_var board_id><tmpl_if is_imgboard>;img=1</tmpl_if>" title="<tmpl_var name> (<tmpl_var id>)" accesskey="n">다음:<tmpl_var title></a></li>
</tmpl_loop>
<tmpl_loop next_new_board>
<li class="button right"><a href="read.cgi?bid=<tmpl_var board_id>;la=<tmpl_var article_no>;lc=<tmpl_var comment_no><tmpl_if is_imgboard>;img=1</tmpl_if>" title="<tmpl_var name> (<tmpl_var id>)" accesskey="k"><span class="title"><tmpl_var title></span><span>:<tmpl_if new_articles> <tmpl_var new_articles> </tmpl_if><tmpl_if new_comments> [<tmpl_var new_comments>]</tmpl_if></span></a></li>
</tmpl_loop>
<li class="button separator" id="article-<tmpl_var article_id>"><a>&nbsp;</a></li>
</ul>

<tmpl_if img>
</tmpl_if>

<div class="article-list wrapper">
<ul class="article-list head">
  <li class="board2">board</li>
  <li class="title">title</li>
  <li class="date">date</li>
  <li class="read">read</li>
<tmpl_if allow_recom><li class="rec">rec</li></tmpl_if>
<tmpl_if allow_scrap><li class="scrp">scrp</li></tmpl_if>
</ul>

<tmpl_loop list>
<ul class="article-list <tmpl_if new>new</tmpl_if>">
  <li class="board2"><a href="myarticle.cgi?bid=<tmpl_var board_id>"><tmpl_var board_title></a></li>
  <li class="title"><a href="read.cgi?bid=<tmpl_var board_id>;aid=<tmpl_var article_id>;p=<tmpl_var page><tmpl_if img>;img=1</tmpl_if><tmpl_if keyword>;k=<tmpl_var keyword></tmpl_if><tmpl_if field>;f=<tmpl_var field></tmpl_if>"><tmpl_if depth><tmpl_var depth><img src="skin/default/images/reply.gif" alt="`->" class="icon reply" /></tmpl_if><tmpl_var title><tmpl_if comments> [<tmpl_var comments>]</tmpl_if><tmpl_if has_attach> <img src="skin/default/images/attach.gif" alt="attach" class="icon attach" /></tmpl_if><tmpl_if has_poll> <img src="skin/default/images/poll.gif" alt="poll" class="icon poll" /></tmpl_if></a></li>
  <li class="date"><span title="<tmpl_var created_str>"><tmpl_var created></span></li>
  <li class="read"><tmpl_var count></li>
<tmpl_if allow_recom>
  <li class="rec"><tmpl_if recom><tmpl_if allow_recom_user_list><a class="recommender" href="recommender.cgi?bid=<tmpl_var board_id>;aid=<tmpl_var article_id>" target="bw_recom"><span id="recom-<tmpl_var article_id>-list"><tmpl_var recom></span></a><tmpl_else><span id="recom-<tmpl_var article_id>-list"><tmpl_var recom></span></tmpl_if><tmpl_else><span id="recom-<tmpl_var article_id>-list">0</span></tmpl_if></li>
</tmpl_if>
<tmpl_if allow_scrap>
  <li class="scrp"><span id="scrap-<tmpl_var article_id>-list"><tmpl_var scrap></span></li>
</tmpl_if>
</ul>
</tmpl_loop>
</div><!-- article-list wrapper -->

<ul class="article head">
<li class="button"><a href="bookmark.cgi">즐겨찾기</a></li>
<li class="button"></li>
<li class="button right"></li>
<li class="button separator"><a>&nbsp;</a></li>
</ul>

<tmpl_if page></tmpl_if>

<tmpl_include _page_nav_special.tmpl>

<tmpl_include _footer.tmpl>
