<tmpl_unless ajax>
<tmpl_include _html_header.tmpl>
<body class="<tmpl_if skin><tmpl_var skin></tmpl_if> <tmpl_if a_read>anonymous</tmpl_if>">
<tmpl_include _header.tmpl>
</tmpl_unless>

<tmpl_include _pollset.tmpl>

<tmpl_unless ajax>
<tmpl_if xtab_links>
<br />
<table class="poll">
<tr class="head">
  <td class="head">교차분석</td>
</tr>
<tr class="option">
  <td class="option">
  <tmpl_loop xtab_links>
    <a href="<tmpl_var href>"><tmpl_var label></a>&nbsp;
  </tmpl_loop>
  </td>
</tr>
</table>
</tmpl_if>

<tmpl_if xtab>
<br />
<table class="poll">
<tmpl_if xtab_gated>
<tr class="head">
  <td class="head"><tmpl_var xtab_poll1> &times; <tmpl_var xtab_poll2></td>
</tr>
<tr class="bottom">
  <td>아직 투표하지 않은 설문이 있어 교차분석을 볼 수 없습니다. 투표 후 이용해 주세요.</td>
</tr>
<tmpl_else><tmpl_if xtab_suppressed>
<tr class="head">
  <td class="head"><tmpl_var xtab_poll1> &times; <tmpl_var xtab_poll2></td>
</tr>
<tr class="bottom">
  <td>응답 수 3명 미만인 조합이 있어 교차분석을 표시하지 않습니다.</td>
</tr>
<tmpl_else>
<tr class="head">
  <td class="head"><tmpl_var xtab_poll1> &times; <tmpl_var xtab_poll2></td>
  <tmpl_loop xtab_cols>
  <td class="head"><tmpl_var opt></td>
  </tmpl_loop>
</tr>
  <tmpl_loop xtab_rows>
<tr class="option">
  <td class="option"><tmpl_var opt></td>
    <tmpl_loop cell>
  <td class="count"><tmpl_var name=cnt escape=html></td>
    </tmpl_loop>
</tr>
  </tmpl_loop>
<tr class="bottom">
  <td colspan="<tmpl_var xtab_colspan>">
<tmpl_if xtab_ki>
    기수 등록 응답자: <tmpl_var xtab_n>명
    (기수 정보가 없는 회원의 응답은 제외되어 총 응답수와 다를 수 있습니다)
<tmpl_else>
    두 질문 모두 응답: <tmpl_var xtab_n>명
    (두 질문에 모두 응답한 사람 수라서 각 질문의 총 응답수와는 다를 수 있습니다)
</tmpl_if>
  </td>
</tr>
</tmpl_if></tmpl_if>
</table>
</tmpl_if>
</tmpl_unless>

<tmpl_unless ajax><tmpl_include _footer.tmpl></tmpl_unless>
