<tmpl_include _html_header.tmpl>
<body class="<tmpl_if skin><tmpl_var skin></tmpl_if> <tmpl_if a_read>anonymous</tmpl_if>">
<tmpl_include _header.tmpl>

<h1><a href="test.cgi">Test</a></h1>

<h2>Textarea Form Test</h2>
<tmpl_include _write_form.tmpl>

<div class="msg">
<h2>Warning. You have to stop now.</h2>
You have got a message.
</div>

<tmpl_loop list>
<a href="read.cgi?bid=<tmpl_var board_id>&aid=<tmpl_var article_id>"><tmpl_var poll_id></a>
</tmpl_loop>

MOBILE DEVICE: <tmpl_var mobile_device>

<tmpl_include _footer.tmpl>
