<div id="htabmenu">
    <ul>
        <li<tmpl_if menu_profile> id="current"</tmpl_if>><a href="profile.cgi">개인</a></li>
        <li<tmpl_if menu_ki> id="current"</tmpl_if>><a href="ki.cgi">기</a></li>
        <li<tmpl_if menu_school> id="current"</tmpl_if>><a href="school.cgi">학교</a></li>
        <li<tmpl_if menu_major> id="current"</tmpl_if>><a href="majors.cgi">전공</a></li>
        <li<tmpl_if menu_class> id="current"</tmpl_if>><a href="class.cgi">반</a></li>
        <li<tmpl_if menu_circle> id="current"</tmpl_if>><a href="circle.cgi">서클</a></li>
        <li<tmpl_if menu_search> id="current"</tmpl_if>><a href="search.cgi">찾기</a></li>
        <li<tmpl_if menu_map> id="current"</tmpl_if>><a href="map.cgi">지도</a></li>
        <li<tmpl_if menu_modified> id="current"</tmpl_if>><a href="modified.cgi">수정</a></li>
        <li<tmpl_if menu_online> id="current"</tmpl_if>><a href="online.cgi">접속</a></li>
    </ul>
</div>
