<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
    <td width="5"></td>
    <td class="menu<tmpl_if menu_ki>on</tmpl_if>" width="80"><a href="ki.cgi">기</a></td><td width="5"></td>
    <td class="menu<tmpl_if menu_school>on</tmpl_if>" width="80"><a href="school.cgi">학교</a></td><td width="5"></td>
    <td class="menu<tmpl_if menu_major>on</tmpl_if>" width="80"><a href="majors.cgi">전공</a></td><td width="5"></td>
    <td></td>
</tr>
<tr>
    <td colspan="8" height="3" style="background-color:#006"></td>
</tr>
</table>
