<tmpl_include _html_header.tmpl>
<tmpl_include _menu.tmpl><div style="clear:both;">
<tmpl_if profile>
    <tmpl_loop profile>
<br>
<form method="POST" action="edit.cgi">
<input type="hidden" name="save" value="1">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
    <td class="iteml" width="105">
        <a href="/user/upload_photo.cgi"><img src="/user/photo.cgi?id=<tmpl_var id>" border="1" width="105" height="140" alt="사진등록/수정"></a>
    </td>
    <td class="iteml">
        <h2><a href="ki.cgi?ki=<tmpl_var ki>"><tmpl_var ki>기</a> <tmpl_include _name_id.tmpl></h2>
            [
            <a href="profile.cgi?id=<tmpl_var id>">개인정보 보기</a> | 
            <a href="passwd.cgi">비밀번호 변경</a> | 
            <a href="edsig.cgi">시그너쳐 변경</a> | 
            <a href="upload_photo.cgi">사진 변경</a> 
            ]
            <br>
            <br>
            인사말 (255 byte)<br>
        <input type="text" name="greeting" value="<tmpl_var greeting>" maxlength="255" class="text" style="width:450px">
        <tmpl_if msg>
        <div class="form">
            <div class="title">Message</div>
            <tmpl_var msg>
        </div>
        </tmpl_if>
    </td>
</tr>
<tr>
    <td class="lhead" nowrap>영문명</td>
    <td class="iteml"><input type="text" name="ename" value="<tmpl_var ename>" maxlength="128" class="text" style="width:450px"></td>
<tr>
    <td class="lhead" nowrap>소속 *</td>
    <td class="iteml"><input type="text" name="affiliation" value="<tmpl_var affiliation>" maxlength="128" class="text" style="width:450px"></td>
</tr>
<tr>
    <td class="lhead" nowrap>직함</td>
    <td class="iteml"><input type="text" name="title" value="<tmpl_var title>" maxlength="64" class="text" style="width:450px"></td>
</tr>
<tr>
    <td class="lhead" nowrap>이메일 *</td>
    <td class="iteml"><input type="text" name="email" value="<tmpl_var email>" maxlength="64" class="text" style="width:450px"></td>
</tr>
<tr>
    <td class="lhead" nowrap>홈페이지</td>
    <td class="iteml">http://<input type="text" name="homepage" value="<tmpl_var homepage>" maxlength="64" class="text" style="width:409px"></td>
</tr>
<tr>
    <td class="lhead" nowrap>facebook</td>
    <td class="iteml"><input type="text" name="facebook" value="<tmpl_var facebook>" maxlength="192" class="text" style="width:450px"></td>
</tr>
<tr>
    <td class="lhead" nowrap>twitter</td>
    <td class="iteml"><input type="text" name="twitter" value="<tmpl_var twitter>" maxlength="16" class="text" style="width:450px"></td>
</tr>
<tr>
    <td class="lhead" nowrap>Google 메신저</td>
    <td class="iteml"><input type="text" name="im_google" value="<tmpl_var im_google>" maxlength="64" class="text" style="width:450px"></td>
</tr>
<!-- <tr>
    <td class="lhead" nowrap>MSN 메신저</td>
    <td class="iteml"><input type="text" name="im_msn" value="<tmpl_var im_msn>" maxlength="64" class="text" style="width:450px"></td>
</tr> -->
<tr>
    <td class="lhead" nowrap>네이트 메신저</td>
    <td class="iteml"><input type="text" name="im_nate" value="<tmpl_var im_nate>" maxlength="64" class="text" style="width:450px"></td>
</tr>
<tr>
    <td class="lhead" nowrap>야후 메신저</td>
    <td class="iteml"><input type="text" name="im_yahoo" value="<tmpl_var im_yahoo>" maxlength="64" class="text" style="width:450px"></td>
</tr>
<tr>
    <td class="lhead" nowrap>휴대전화 *</td>
    <td class="iteml">(+<input type="text" name="mobile_tel1" value="<tmpl_var mobile_tel1>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();">)
    <input type="text" name="mobile_tel2" value="<tmpl_var mobile_tel2>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();">-
    <input type="text" name="mobile_tel3" value="<tmpl_var mobile_tel3>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();">-
    <input type="text" name="mobile_tel4" value="<tmpl_var mobile_tel4>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();">
    휴대/거주지/직장 전화 중 최소 1개 필수
    </td>
</tr>
<tr>
    <td class="lhead" nowrap>거주지전화 *</td>
    <td class="iteml">(+<input type="text" name="home_tel1" value="<tmpl_var home_tel1>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();">)
    <input type="text" name="home_tel2" value="<tmpl_var home_tel2>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();">-
    <input type="text" name="home_tel3" value="<tmpl_var home_tel3>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();">-
    <input type="text" name="home_tel4" value="<tmpl_var home_tel4>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();"></td>
</tr>
<tr>
    <td class="lhead" nowrap>직장전화 *</td>
    <td class="iteml">(+<input type="text" name="office_tel1" value="<tmpl_var office_tel1>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();">)
    <input type="text" name="office_tel2" value="<tmpl_var office_tel2>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();">-
    <input type="text" name="office_tel3" value="<tmpl_var office_tel3>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();">-
    <input type="text" name="office_tel4" value="<tmpl_var office_tel4>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();"></td>
</tr>
<tr>
    <td class="lhead" nowrap>임시전화</td>
    <td class="iteml">(+<input type="text" name="temp_tel1" value="<tmpl_var temp_tel1>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();">)
    <input type="text" name="temp_tel2" value="<tmpl_var temp_tel2>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();">-
    <input type="text" name="temp_tel3" value="<tmpl_var temp_tel3>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();">-
    <input type="text" name="temp_tel4" value="<tmpl_var temp_tel4>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();"></td>
</tr>
<tr>
    <td class="lhead" nowrap>거주지주소</td>
    <td class="iteml">
        <textarea name="home_address" rows="3" cols="40" class="body" style="width:450px"><tmpl_if home_address><tmpl_var home_address><tmpl_else><tmpl_if home_address1>
<tmpl_var home_address1>
<tmpl_var home_address2>
<tmpl_var home_zipcode>, <tmpl_var home_country></tmpl_if></tmpl_if></textarea>
    본인이 편한만큼만 쓰시되, 되도록 대한민국, 서울 / 독일, 프랑크푸르트 정도의 정보는 알려주세요.
    </td>
</tr>
<tr>
    <td class="lhead" nowrap>거주지지도</td>
    <td class="iteml"><input type="text" name="home_map" value="<tmpl_var home_map>" maxlength="255" class="text" style="width:450px"><br><a href="map.cgi" target="_blank">동창 지도</a></td>
</tr>
<tr>
    <td class="lhead" nowrap>직장주소</td>
    <td class="iteml">
        <textarea name="office_address" rows="3" cols="40" class="body" style="width:450px"><tmpl_if office_address><tmpl_var office_address><tmpl_else><tmpl_if office_address1>
<tmpl_var office_address1>
<tmpl_var office_address2>
<tmpl_var office_zipcode>, <tmpl_var office_country></tmpl_if></tmpl_if></textarea>
    본인이 편한만큼만 쓰시되, 되도록 대한민국, 서울 / 독일, 프랑크푸르트 정도의 정보는 알려주세요.
    </td>
</tr>
<tr>
    <td class="lhead" nowrap>직장지도</td>
    <td class="iteml"><input type="text" name="office_map" value="<tmpl_var office_map>" maxlength="255" class="text" style="width:450px"><br><a href="map.cgi" target="_blank">동창 지도</a></td>
</tr>
<tr>
    <td class="lhead" nowrap>임시주소</td>
    <td class="iteml">
        <textarea name="temp_address" rows="3" cols="40" class="body" style="width:450px"><tmpl_var temp_address></textarea>
    본인이 편한만큼만 쓰시되, 되도록 대한민국, 서울 / 독일, 프랑크푸르트 정도의 정보는 알려주세요.
    </td>
</tr>
<tr>
    <td class="lhead" nowrap>임시지도</td>
    <td class="iteml"><input type="text" name="temp_map" value="<tmpl_var temp_map>" maxlength="255" class="text" style="width:450px"><br><a href="map.cgi" target="_blank">동창 지도</a></td>
</tr>
<tr>
    <td class="lhead" nowrap>생일</td>
    <td class="iteml">
        <tmpl_if is_root>
        <input type="text" name="birth_y" value="<tmpl_var birth_y>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();">년
        <input type="text" name="birth_m" value="<tmpl_var birth_m>" size="2" maxlength="2" class="text" style="width:20px" onClick="select();">월
        <input type="text" name="birth_d" value="<tmpl_var birth_d>" size="2" maxlength="2" class="text" style="width:20px" onClick="select();">일
        <tmpl_else>
        <tmpl_var birth>
        </tmpl_if>
    </td>
</tr>
<tr>
    <td class="lhead" nowrap>결혼</td>
    <td class="iteml">
        <input type="text" name="wedding_y" value="<tmpl_var wedding_y>" size="4" maxlength="4" class="text" style="width:40px" onClick="select();">년
        <input type="text" name="wedding_m" value="<tmpl_var wedding_m>" size="2" maxlength="2" class="text" style="width:20px" onClick="select();">월
        <input type="text" name="wedding_d" value="<tmpl_var wedding_d>" size="2" maxlength="2" class="text" style="width:20px" onClick="select();">일
    </td>
</tr>
<tr>
    <td class="lhead" nowrap>전공</td>
    <td class="iteml">
        <tmpl_if major>
            <tmpl_loop major>
        <a href="majors.cgi?mid=<tmpl_var major_id>&pid=<tmpl_var parent_id>"><tmpl_var major></a><tmpl_unless __last__>, </tmpl_unless>
            </tmpl_loop>
        </tmpl_if>
        [<a href="major.cgi">추가</a>]
    </td>
</tr>
<tr>
    <td class="lhead" nowrap>학위/경력</td>
    <td class="iteml">
        <tmpl_if degree>
            <tmpl_loop degree>
        (<tmpl_var type_brief>) <a href="school.cgi?type=<tmpl_var type>&school_id=<tmpl_var school_id>" title="<tmpl_var school>"><tmpl_var school_short></a>, <tmpl_var department><tmpl_if advisors> (지도교수: <a  href="school.cgi?type=<tmpl_var type>&school_id=<tmpl_var school_id>" title="<tmpl_var school>"><tmpl_var advisors></a>)</tmpl_if> [<tmpl_var start_date>~<tmpl_var end_date><tmpl_if status>/<tmpl_var status_brief></tmpl_if>]<tmpl_unless __last__><br></tmpl_unless>
            </tmpl_loop>
        </tmpl_if>
    [<a href="degree.cgi">추가/변경</a>]
    </td>
</tr>
<tr>
    <td class="lhead" nowrap>ORCID</td>
    <td class="iteml"><input type="text" name="orcid" value="<tmpl_var orcid>" maxlength="192" class="text" style="width:450px"><br/>
https://orcid.org/0000-000x-xxxx-xxxx</td>
</tr>
<tr>
    <td class="lhead" nowrap>google scholar</td>
    <td class="iteml"><input type="text" name="gscholar" value="<tmpl_var gscholar>" maxlength="192" class="text" style="width:450px"><br/>
https://scholar.google.com/citations?user=...</td>
</tr>
<tr>
    <td class="lhead" nowrap>linkedin</td>
    <td class="iteml"><input type="text" name="linkedin" value="<tmpl_var linkedin>" maxlength="192" class="text" style="width:450px"><br/>
https://www.linkedin.com/in/[linkedin_user]/</td>
</tr>
<tr>
    <td class="lhead" nowrap>반</td>
    <td class="iteml">
        1학년 <input type="text" name="class1" value="<tmpl_var class1>" size="1" maxlength="1" class="text" style="width:10px">반
        &nbsp;&nbsp;&nbsp;
        2학년 <input type="text" name="class2" value="<tmpl_var class2>" size="1" maxlength="1" class="text" style="width:10px">반
        &nbsp;&nbsp;&nbsp;
        3학년 <input type="text" name="class3" value="<tmpl_var class3>" size="1" maxlength="1" class="text" style="width:10px">반
    </td>
</tr>
<tr>
    <td class="lhead" nowrap>서클</td>
    <td class="iteml">
            <tmpl_loop circle>
        <a href="circle.cgi?cid=<tmpl_var circle_id>"><tmpl_var name></a><tmpl_unless __last__>, </tmpl_unless>
            </tmpl_loop>
            [<a href="circle.cgi">추가</a>]
    </td>
</tr>
<tr>
    <td class="lhead" nowrap>최종수정</td>
    <td class="iteml"><tmpl_var modified></td>
</tr>
    </tmpl_loop>
<tr>
    <td colspan=2>상호주의를 위해 명백히 오류인 정보는 비주기적으로 삭제됩니다.</td>
</tr>
<tr>
    <td></td>
    <td><br><input type="submit" value="Save" class="button" style="width:450px"></td>
</tr>
</table>
</form>
</tmpl_if>

</div>
<tmpl_include _html_footer.tmpl>
