<markerset>
<tmpl_loop mapset>
<m>
<type><tmpl_var type></type>
<ki><tmpl_var ki></ki>
<name><tmpl_var name></name>
<id><tmpl_var id></id>
<p lng="<tmpl_var lng>" lat="<tmpl_var lat>" />
</m>
</tmpl_loop>
</markerset>
