<tmpl_include _html_header.tmpl>
<tmpl_include _menu.tmpl>
<br>
<h3><a href="modified.cgi">최근 수정<tmpl_if total>: <tmpl_var total>명</tmpl_if></a></h3>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
    <td class="thead">사진</td>
    <td class="thead" colspan="2">이름 (아이디)</td>
    <td class="thead">소속 / 인사말</td>
    <td class="thead">최종수정</td>
</tr>
<tmpl_loop list>
<tr>
    <td class="itemc" rowspan="2"><a href="profile.cgi?id=<tmpl_var id>"><img src="thumb.cgi?id=<tmpl_var id>" border="0" width="60" height="80" alt="<tmpl_var name> (<tmpl_var id>)"></a></td>
    <td class="itemr" height="1%" nowrap><a href="/user/ki.cgi?ki=<tmpl_var ki>"><tmpl_var ki>기</a></td>
    <td class="iteml" nowrap width="1%"><tmpl_include _name_id.tmpl></td>
    <td class="iteml" width="99%"><tmpl_var affiliation><tmpl_if title> (<tmpl_var title>)</tmpl_if></td>
    <td class="itemr" nowrap><tmpl_var modified></td>
</tr>
<tr>
    <td class="iteml" colspan="4" width="99%"><tmpl_if greeting><tmpl_var greeting><tmpl_else>&nbsp;</tmpl_if></td>
</tr>
</tmpl_loop>
<tr>
</tr>
</table>
<tmpl_include _user_search.tmpl>
<tmpl_include _html_footer.tmpl>
