<?xml version="1.0"?>
<messenger>
  <service name=".NET Messenger Service">
    <contactlist>
<tmpl_loop contact_list>
      <contact><tmpl_var contact></contact>
</tmpl_loop>
    </contactlist>
  </service> 
</messenger>

