<tmpl_include _html_header.tmpl>

<h3>천년바위 가입 신청</h3>

<h4>천년바위 인터넷 서비스 이용 약관</h4>


<form method="POST">
<table border="0" cellpadding="0" cellspacing="0" width="500">
<tr>
    <td colspan="2">
        <div class="msg">
        아래의 이용약관 8개 항목에 모두 동의해야 가입신청할 수 있습니다.
        </div>
        <br>
    </td>
</tr>
<tr>
    <td class="thead">1. 서비스 안내</td>
    <td class="thead">동의 <input type="checkbox" name="t1" <tmpl_if t1>checked</tmpl_if>></td>
</tr>
<tr>
    <td class="iteml" colspan="2">
    천년바위 인터넷 서비스는 서울과학고 동창회에서 제공되는
   인터넷 서비스입니다.

        <br><br>
    </td>
</tr>
<tr>
    <td class="thead">2. 제공되는 서비스</td>
    <td class="thead">동의 <input type="checkbox" name="t2" <tmpl_if t2>checked</tmpl_if>></td>
</tr>
<tr>
    <td class="iteml" colspan="2">
        <ol>
            <li>웹게시판 서비스 : 커뮤니티로서의 게시판을 이용할 수 있습니다.
            <li>동창 DB : 서울과학고 동창들에 대한 개인정보를 열람할 수
      있습니다.
            <!--li>계정 서비스 : 유닉스(리눅스) 계정이 제공되며, Email 을 주고받을
   수 있고, 홈페이지를 만들 수 있습니다.
            <li>기타 : 웹호스팅 서비스, sql DB 제공 -->
        </ol>

    </td>
</tr>
<tr>
    <td class="thead">3. 서비스 가입 방법</td>
    <td class="thead">동의 <input type="checkbox" name="t3" <tmpl_if t3>checked</tmpl_if>></td>
</tr>
<tr>
    <td class="iteml" colspan="2">
        <ol>
            <li>서울과학고 졸업생 및 수료생을 "동창"이라 하며, 서울과학고에 적을
   두었던 교직원, 자퇴자, 전학자, 재학생 등을 모두 "명예 동창"이라
   합니다. 서울과학고 동창의 직계 가족을 "동창 가족"이라고 합니다.</li>
   <li>
    천년바위 인터넷 서비스는 동창과 명예 동창, 동창 가족을 그 서비스
   대상으로 합니다.
   </li>
   <li>
    서울과학고 동창과 명예 동창은 서비스 가입신청을 할 수 있으며,
   소정의 가입신청서를 제대로 기재한 경우, 서비스 관리자가 곧바로
   가입승낙을 하게 됩니다.
   </li>
        </ol>
    <div class="msg">
        현재 시스템 사정상 기수 정보가 있는 서울과학고 졸업생, 수료생 및
        재학생만 가입 신청을 할 수 있습니다.
        그밖의 명예 동창 및 동창 가족의 가입이 가능해지면 별도의 공지를
        해드리겠습니다.
        <br><br>
        <strong>신규가입하는 22기의 경우 대부분의 인원이 가입신청을 마치면 가입처리를 
        시작할 예정입니다.</strong>
    </div>

        <br>
    </td>
</tr>
<tr>
    <td class="thead">4. 서비스 제공자의 의무</td>
    <td class="thead">동의 <input type="checkbox" name="t4" <tmpl_if t4>checked</tmpl_if>></td>
</tr>
<tr>
    <td class="iteml" colspan="2">
        <ol>
            <li>
    동창회는 동창회가 존속하는 한 중단없이 서비스를 계속하여 
   제공합니다.
   </li>
   <li>서비스 제공자는 이용자의 개인정보를 보호하며,
   이용자의 통신의 비밀을 기술적 한계 내에서 보호합니다.</li>
   <li>
    서비스 제공자는 이용자의 전자우편이나 홈디렉토리의 개인파일의 
   내용을 이용자의 허락없이 열람할 수 없습니다.
   </li>
   <li>
    동창 개인정보DB의 자료는 서울과학고 동창과 명예동창에 한해서 
   공개됩니다.
   </li>
        </ol>
    </td>
</tr>
<tr>
    <td class="thead">5. 서비스 이용자의 의무</td>
    <td class="thead">동의 <input type="checkbox" name="t5" <tmpl_if t5>checked</tmpl_if>></td>
</tr>
<tr>
    <td class="iteml" colspan="2">
        <ol>
            <li> 서비스 이용자는 제공되는 서비스의 본래 목적에 합당하도록 서비스를
   이용하여야 합니다.</li>
   <li>
    서비스 이용자는 불법적인 목적으로 타인의 개인정보를 열람할 수 
   없으며, 허락되지 않은 조작으로 정상적인 서비스를 방해하거나
   타인에게 피해를 줄 수 없습니다.
   </li>
   <li>
    서비스 이용자는 수신을 원하지 않는 사람들에게 대량의 전자우편 등의
   메시지를 발송할 수 없습니다.
   </li>
   <li>
    서비스 이용자는 타인이 허락없이 자신의 아이디로 서비스를
   불법적으로 이용하지 않도록 비밀번호 관리에 최선을 다해야 합니다.
    </li>
    </ol>
    </td>
</tr>
<tr>
    <td class="thead">6. 서비스제공 개시 및 서비스제공 중단</td>
    <td class="thead">동의 <input type="checkbox" name="t6" <tmpl_if t6>checked</tmpl_if>></td>
</tr>
<tr>
    <td class="iteml" colspan="2">
    <ol>
    <li>서비스에 가입하고자 하는 사람은 소정의 가입신청서 양식에 따라
   가입신청서를 작성하여야 합니다. 서비스 관리자는 가입신청서의 내용을
   확인한 후, 서비스 이용을 승낙합니다. 서비스 이용자가 가입신청서에
   기재한 아이디와 비밀번호로 처음 접속하는 순간 서비스제공이
   개시됩니다.</li>
    <li>
    가입신청서 내용이 허위로 작성되었거나 부실하게 기재된 경우에는
   서비스 가입을 거절할 수 있습니다.
   </li>
   <li>
    현재 천년바위 인터넷 서비스는 무료로 서비스가 제공되나 약관의 
   수정에 따라 일부 서비스를 유료로 제공할 수 있습니다.
   </li>
   <li>
    천년바위 인터넷 서비스는 이용자가 서비스 이용을 더이상 원하지 않을
   때까지 제공합니다. 서비스 이용을 원하지 않는 경우, 이용자는 
   전자우편 등을 통하여 관리자에게 서비스 이용 중단 의사를 밝혀야
   하고, 관리자는 이용 중단 의사를 확인한 후 즉시 해당 이용자의 
   서비스를 중단시킬 수 있습니다.
    </li>
   <li>
    서비스 이용자가 6개월 혹은 그 이상의 장기간 서비스를 이용하지 
   못하거나 계속적인 서비스 이용 의사를 밝히지 않는 경우, 서비스
   관리자는 잠정적으로 해당 이용자의 서비스를 중지시킬 수 있으며
   이때 서비스 이용자의 전자우편 및 개인 파일은 그대로 보존합니다.
    </li>
   <li>
    서비스 관리자는 불법적인 서비스 이용을 발견하였거나 비밀번호가 
   공개되는 등 타인이 불법적으로 서비스를 이용할 가능성이 농후한 경우,
   해당 이용자의 서비스를 잠정 중단시킬 수 있습니다.
    </li>
   <li>
    서비스 이용자가 사망하거나 더이상 서비스를 이용할 수 없는 것으로
   판명되면, 서비스 관리자는 해당 이용자의 서비스를 중지시킬 수 
   있습니다.
    </li>
    </ol>
    </td>
</tr>
<tr>
    <td class="thead">7. 게재된 자료에 대한 권리</td>
    <td class="thead">동의 <input type="checkbox" name="t7" <tmpl_if t7>checked</tmpl_if>></td>
</tr>
<tr>
    <td class="iteml" colspan="2">
    <ol>
    <li>서비스 이용자가 서비스 내에 게시하거나 등록한 자료의 지적 재산권은
   이용자에게 귀속됩니다. 단 서비스 제공자는 서비스 내의 게재권을
   갖습니다.
   </li>
   <li>
    게시물에 대한 권리와 책임은 게시자에게 있으며, 서비스 제공자는
   게시자의 동의 없이 이를 영리적 목적으로 사용할 수 없습니다.
   단, 비영리적인 목적인 경우에는 그러하지 아니합니다.
   </li>
   <li>
    서비스 이용자는 서비스를 이용하여 얻은 정보를 이용고객의 개인적인 
   이용 이외에는 복사, 가공, 번역, 2차적 저작 등을 하여 복제, 공연, 
   방송, 전시, 배포, 출판 등에 사용하거나 제 3 자에게 제공하는 행위를 
   할 수 없습니다.
   </li>
   </ol>
    </td>
</tr>
<tr>
    <td class="thead">8. 면책조항</td>
    <td class="thead">동의 <input type="checkbox" name="t8" <tmpl_if t8>checked</tmpl_if>></td>
</tr>
<tr>
    <td class="iteml" colspan="2">
    <ol>
    <li>
    서비스 제공자는 이용에 불편함이 없도록 최선을 다하여 서비스를
   제공하여야 하나, 서비스 제공으로부터 기대되는 어떠한 이익에 대한 
   보장을 하지 않으며, 서비스 자료에 대한 취사선택 혹은 이용으로 
   발생하는 손해 등에 대한 책임을 면합니다.
    </li>
    <li>
    서비스 제공자는 서비스를 통하여 제공되는 정보의 신뢰도나 정확성에
   대한 책임을 면합니다.
   </li>
    <li>
    서비스 제공자는 서비스를 통하여 게시 또는 전송한 자료의 내용에 
   관하여 발생되는 모든 책임을 면합니다.
     </li>
     </ol>
    </td>
</tr>
<tr>
    <td class="itemc" colspan="2">
        <input type="submit" value=" 가 입 신 청 " class="button">
    </td>
</tr>
</table>
</form>

<tmpl_include _html_footer.tmpl>
