<script type="text/javascript">//<![CDATA[
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost +
                          "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
//]]></script>
<script type="text/javascript">//<![CDATA[
  try {
    var pageTracker = _gat._getTracker("UA-620537-1");
    pageTracker._setDomainName(".bawi.org");
    pageTracker._trackPageview();
  } catch(err) {}
//]]></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0PVSDY4DX2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0PVSDY4DX2');
</script>
