<a href="/user/profile.cgi?id=<tmpl_var id>" class="user-profile" target="bw_profile"><tmpl_var name></a> (<a href="/main/note.cgi?to_default=<tmpl_var id>" target="bw_message" class="user-popup"><tmpl_var id></a>)
