<tmpl_include _html_header.tmpl>
<body class="<tmpl_if skin><tmpl_var skin></tmpl_if>">
<tmpl_include _header.tmpl>

<h3><a href="index.cgi">Admin - <tmpl_var HTMLTitle></a></h3>

<ul>
  <li><a href="photo.cgi">사진 변경</a></li>
  <li><a href="passwd.cgi">비밀번호 변경</a></li>
  <li><a href="register.cgi">가입신청 현황</a></li>
  <li><a href="http://code.google.com/p/bawi-perl">Google Code:SVN Repository</a></li>
  <li><a href="https://www.google.com/a/cpanel/bawi.org/Dashboard">Google Apps Dashboard</a></li>
  <li><a href="https://www.google.com/analytics/reporting/dashboard?scid=620537">Google Analytics</a></li>
  <li><a href="http://www.bawi.org/process/">System Load</a></li>
  <!--li><a href="pstree.cgi">pstree</a></li>
  <li><a href="/admin/doc/OReilly">O'Reilly's CD bookshelf</a></li-->
</ul>

<tmpl_include _footer.tmpl>

